@{
    ViewBag.Title = "About CoLeadr";
}
<h2>@ViewBag.Title</h2>

<p><strong>CoLeadr</strong> is Tori Brenneion's funsies project.  It originally came about from a discussion on a Girl Scout
    message board where a leader was looking for software to help organize recordkeeping for a new troop.  Current troop organization
    packages like TroopMaster and TroopTracker come pre-loaded with program materials and their subscription costs can be hefty for
    troops with meager budgets.  CoLeadr circumvents this issue by being a very adaptable application that is suitable for many
    different kinds of small organizations, including scout troops, church groups, and recreational sport teams. </p>

<p>CoLeader allows small group leaders to better manage their <i>memberships</i>,<i>subgroups</i> and <i>projects</i>.  Member records
    are stored in the CoLeader database and members can be sorted into smaller subgroups within the organization.  CoLeadr also has the
    capability to break projects into tasks, so that leaders can easily see what steps they must take to see their projects through to completion.</p>

<p><strong>Tori Brenneison</strong> is a 2015 graduate of We Can Code IT software development bootcamp in Cleveland, OH.</p>
