@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CoLeadr</h1>
    <p class="lead">CoLeadr is a thing that does a thing.</p>
    <p>It doesn't have a second 'e' because not having a second 'e' is trendy. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reasons</h2>
        <p>
            They exist!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Things!</h2>
        <p>They also exist.</p>
    </div>
    <div class="col-md-4">
        <h2>Stuff!</h2>
        <p>May or may not exist.</p>
    </div>
</div>